#navbar {
    background-color: rgb(190, 190, 235);
}

/* body {
    background-image: url(img2.jpg);
} */

#navbarNav {
    justify-content: end;
}

card {
    transition:all 0.5s;
}
card :hover {
    transform:scale(1.1);
}